@font-face {
    font-family: "LibertinusMono";
    src: url("assets/fonts/LibertinusMono-Regular.ttf");
}

html {
    scroll-behavior: smooth; 
}

body{
    font-family: "LibertinusMono";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.nav-list{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    list-style: none;
}
.nav-link{
    padding: 0 15px;
    line-height: 40px;
    transition: 0.3s;
    color: black;
    opacity:1;
    text-decoration:none;
    }

.photo{
    height: 200px;
}
