@font-face {
    font-family: "LibertinusMono";
    src: url("assets/fonts/LibertinusMono-Regular.ttf");
}

body{
    font-family: "LibertinusMono";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.photo{
    height: 200px;
}
